.timerWrapper {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("../../img/background.jpg");
}

.timerWrapper h2 {
  width: 100%;
  font-size: 10rem;
  background-color: #1a1a1a;
  color: var(--white);
  text-align: center;
  animation: shrink-opa 1s infinite ease-in-out;
}

@keyframes shrink-opa {
  from {
    opacity: 0.6;
    font-size: 0rem;
  }
  to {
    opacity: 1;
  }
}
