.correctAlertWrapper,
.incorrectAlertWrapper {
  position: absolute;
  width: 100%;
  padding: 10px 0;
  bottom: 0;
  text-align: center;
  color: var(--white);
  overflow: hidden;
}

.correctAlertWrapper {
  background-color: #06b415;
}

.incorrectAlertWrapper {
  background-color: #b40606;
}
