@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

:root {
  --white: #fff;
  --lightblue: #00a5e3;
  --darkblue: #0065a2;
  --darkblue-hover: #0085d5;
  --background: #006bad;
  --button: #8dd7fb;
  --font-color: #202020;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

body {
  background-color: var(--white);
}
